<template>
  <view class="content">
    <!-- <image class="logo" src="../../static/logo.png"></image> -->
  </view>
</template>

<script>

  export default {
    data() {
      return {}
    },
    onLoad() {
    },
    mounted() {
		
      const {
        screenHeight,
        screenWidth,
        pixelRatio,
		safeArea
      } = uni.getSystemInfoSync();
      this.$store.dispatch("setPhoneWidth", screenWidth);
      this.$store.dispatch("setPhoneHeight", screenHeight);
      this.$store.dispatch("setTabBarHeight", screenHeight-safeArea.bottom + 60);

      try {
        let url = this.$nwm.getUrlSync();
        let self = this;
        if (url) {
          let token = this.$nwm.getTokenSync();
          if (token) {
            self.tryLogin();
          } else {
            self.getLoginInfo(false);
          }
        } else {
          let json = require('../../appconfig.json');
          if (json && json.url && json.url.length > 0) {
            this.$nwm.setUrlSync(json.url);
            this.getLoginInfo(true);
          } else {
            this.$nwm.showUrlSetting({
              supportCancel:false,
              confirm(url) {
                self.getLoginInfo(false);
              },
              cancel() {
                console.log("cancel");
              }
            });
          }
        }
      } catch (e) {
        console.log('抛出异常了' + e);
      }
    },
    methods: {
		
      getLoginInfo: function(isCheckServeConfig) {
        let self = this;
        this.$nwm.http.postData('api/v1/mapp/mobile/loginpage/get', {}, true, true).then(res => {
          if (res.type === 0) {
            let property = res.property;
            let data = encodeURIComponent(JSON.stringify(property));
            uni.reLaunch({
              url: res.path+ '?data=' + data,
              success: function() {
                if (isCheckServeConfig && property.showserveconfig) {
                  let originUrl = self.$nwm.getUrlSync();
                  self.$nwm.showUrlSetting({
                    url: originUrl,
                    confirm(url) {
                    }
                  });
                }
              },
              fail: function(error) {
                console.log(JSON.stringify(error));
              }
            });
          } else {
            let customLoginUrl = '/pages/../../node_modules/' + res.path;
            uni.reLaunch({
              url: customLoginUrl
            });
          }
        }, res => {
          self.$nwm.showUrlSetting({
            supportCancel:false,
            confirm(url) {
              self.getLoginInfo(false);
            },
            cancel() {
              console.log("cancel");
            }
			});
		});
      },
      //尝试请求用户信息,检验token是否过期,如过期重新获取登录页
      tryLogin: function() {
        let self = this;
        this.$nwm.http.postData('api/v1/mapp/mobile/user/get', {}, true, false).then(res => {
          if (res && res.code === 0) {
            self.$nwm.navigateToHome();
          } else {
            self.getLoginInfo(false);
          }
        });
      },
    }
  }
</script>

<style>
  .content {
    text-align: center;
    height: 100vh;
  }

  .logo {
    margin-top: 195px;
    width: 128rpx;
    height: 80rpx;
  }
</style>
